.team-card {
  width: 40%;
  min-width: 300px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .team-card {
    width: 100%;
  }
}
.team-image-url {
  width: 100px;
  height: 100px;
}
.team-name {
  font-size: 20px;
  margin-left: 15px;
  color: #ffffff;
  font-family: 'Bree serif';
  font-weight: 600;
}
